.git
.github
.gitignore
node_modules
vendor
.env
.env.*
!.env.example
storage/app/private
storage/app/public
storage/framework/cache
storage/framework/sessions
storage/framework/views
storage/logs
bootstrap/cache
*.log
tests
README.md
docker-compose*
Makefile
